@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Spline+Sans+Mono&display=swap');

*{
   box-sizing: border-box;
   background-color: #09090B;
   color: white;
 }

#mg{
	font-family: 'Cormorant Garamond', serif;
}

body{
  position: relative;
  max-width: 900px;
  margin: auto;
  padding: 10px;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
}

nav a{
   padding: 5px;
   color: white;
   text-decoration: none;   
}

nav a:active{
    opacity: 0.5;
}	

hr{
  opacity: 0.5;	
}

#room {
  height: 350px;
  width: 100%;
  object-fit: cover;  
}


span{
  color : orange;
}

li{
	font-size:20px;
}

@media screen and (max-width: 768px) {
  body{
	  font-size:5em;
  }
}  
