@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Spline+Sans+Mono&display=swap');

*{
   box-sizing: border-box;
  /* background-color: #09090B;*/
 }

body{
       	color:white;
        font-family: "Inter", sans-serif;
	font-size: 16x;
	background-color:#0d0d0d;
	margin: auto;
        padding: 20px;
        max-width: 900px;
}


#mg {
   font-family: 'Cormorant Garamond', serif;
   font-size: 42px;
   text-decoration: underline 6px orange ;
}


nav a{
   padding: 5px;
   color: white;
   text-decoration: none;   
}

a{
	color: white;
	text-decoration: underline  3px orange;
}

nav a:active{
    opacity: 0.5;
}	

hr{
  opacity: 0.5;	
}

#room {
  height: 350px;
  width: 100%;
  object-fit: cover;  
}


span{
  color : orange;
}



@media screen and (max-width:768px)  {
  body {
       font-size: 35px;
       padding: 1%;
 }
					    
 #mg{
 font-size: 90px;
 }							
}
